---
import BlackHole from '../components/BlackHole.astro';
---

<html lang="pt-BR">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Devs à Deriva</title>
    <link rel="icon" type="image/svg+xml" href="/helmet.svg" />
  </head>
  <body class="m-0 p-0 bg-[#020b18] overflow-hidden">
    <BlackHole />
  </body>
</html>
