---
import '../styles/tokens.css';
import ThemeProvider from '../components/ThemeProvider.astro';
import Navbar from '../components/Navbar.astro';

interface Props {
  title?: string;
  /** Esconde a Navbar (ex: páginas de erro) */
  hideNavbar?: boolean;
}

const { title = 'Devs à Deriva', hideNavbar = false } = Astro.props;
---

<html lang="pt-BR">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>{title}</title>
    <link rel="icon" type="image/svg+xml" href="/helmet.svg" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css"
      integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <ThemeProvider />
  </head>
  <body class="m-0 p-0 overflow-x-hidden">
    {!hideNavbar && <Navbar />}
    <slot />
  </body>
</html>
